# Database
DATABASE_URL="postgresql://user:password@localhost:5432/hushcash"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-nextauth-secret-here"

# Twitter/X OAuth
TWITTER_CLIENT_ID="your-twitter-client-id"
TWITTER_CLIENT_SECRET="your-twitter-client-secret"

# Circle API
CIRCLE_API_KEY="TEST_API_KEY:1637fbb5a1118c8281204236ab28ff64:6155ff3ee1d96d6e1548b047b65b727d"
CIRCLE_ENTITY_SECRET="92f62b1ccd55fbf41273375ebf8847df88705fe957f3db1d39a935fb7ea7613c"
CIRCLE_WALLET_SET_ID="4acdc9c9-cb1d-511e-b894-1f03e14b1d04"



# Arc / Chain config
NEXT_PUBLIC_CHAIN_ID="1"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
